/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

nav,section,div {
  border: 1px solid steelblue;
  /* height: 400px; */
}


/******************************************
/* LAYOUT
/*******************************************/

nav {
  width: 25%;
  height: 400px;
  margin-bottom: 3000px;
  padding-bottom: 3000px;
}
.maybe {
  float: left;
}

.main section {
  width: 50%;
  height: 400px;
  float: right;
}


/* .container {
  display: flex;
  height: 100vh;
  gap: 25px;
}

[class ^="box-"]{
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
} */