<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Clone of Khan Academy website">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Khan Academy</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>

			<section class="courses">
	<!-- Courses dropdown & search -->
				<!-- <label for="courses">Courses</label> -->
				<select name="courses" id="courses">
					<option value="Courses">Courses</option>
					<option value="HTML">HTML</option>
					<option value="CSS">CSS</option>
					<option value="Javascript">Javascript</option>
					<option value="Puppies">Puppies</option>
				</select>
				<input type="text" placeholder="Search">
			</section>
			<section class="logo">
				<!-- Khan Academy logo -->
				<h2>Khan Academy</h2>
			</section>
			<section>
				<ul>
					<li href="#">Donate</li>
					<li href="#">Login</li>
					<li href="#">Sign up</li>
				</ul>
			</section>
		</header>
		<section class="clear main">
			<div>
				<img src="#" alt="(picture of kids smiling)">
			</div>
			<div>
				<p class="big">For every student,<br>every classroom.<br><span>Real results.</span></p>
			</div>

		</section>

		<footer class="clear">
			<div class="triangle">
			</div>
			<h2>Why Khan Academy works</h2>
		</footer>
	</body>
</html>
