/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#cocktail {
  border: 2px solid blanchedalmond;
  height: 300px;
}