<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>BBC clone</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li class="logo"><img src="#" alt="BBC logo"></li>
					<li class="signin">Sign in</li>
					<li>Home</li>
					<li>News</li>
					<li>Sport</li>
					<li>Reel</li>
					<li>Worklife</li>
					<li>Travel</li>
					<li>Future</li>
					<li>Culture</li>
					<li>More</li>
					<!-- <li><input type="text" ></li> -->
				</ul>
			</nav>
		</header>
		<div class="intro">
			<section class="welcome">
				<p>Welcome to BBC.com</p>
			</section>
			<section class="date">
				<p>Thursday, 13 August</p>
			</section>
		</div>
		
		<div class="clear top">
			<section>
				<p>Isreal and UAE strike historic peace deal</p>
			</section>
			<section>
				<div class="grid">
					<article>...go home...</article>
					<article>How will the world vaccinate?</article>
					<article>'productivity gyms'</article>
					<article>The folk singer</article>
				</div>
			</section>
		</div>
		<div class="clear bottom">
			<section>Biden and Harris...</section>
			<section>Women form 'solidarity chains'...</section>
			<section>...low-pressure shower heads...</section>
		</div>

		<!-- <script type="text/javascript" src="js/main.js"></script> -->
	</body>
</html>
